$("#svc-req-form-outer").html("<h1>Thanks for contacting us. We'll follow up with you shortly.</h1>");
$('#signup-pane-inner').delay(3000).slideUp(350, function() {
	$('html, body').animate({scrollTop: '0px'}, 800);
});

