<% content_for :styles do stylesheet_link_tag "homepage" end %>
<% content_for :scripts do javascript_include_tag "homepage" end %>

<h1>Frequently Asked Questions</h1>
<ul id="faqs">
	<li>
		<h2>
			1) What is Nexly?
		</h2>
		<div>
			<p>
				Nexly is a toolset that provides an easy way for you to collect and promote customer reviews and recommendations for your business. Our technology includes a customizable toolbar that you can embed into your website.
			</p>
		</div>
	</li>
	<li>
		<h2>
			2) Who should use Nexly?
		</h2>
		<div>
			<p>
				We built Nexly to help referral-driven businesses who want to easily extend word-of-mouth marketing online in order to increase traffic and leads. 
			</p>
			<p>
				Other businesses such as marketing-consulting and web-agencies can also implement our product for their clients.  Please contact us to discuss potential partnerships.
			</p>
		</div>
	</li>
	<li>
		<h2>
			3) Why use Nexly?
		</h2>
		<div>
			<p>
				In a nutshell, because our product helps future customers discover how great your business is! We make it really easy for you to capture testimonials and use these testimonials to generate new leads for your business. 
			</p>
			<p>
				No more dreaded phone calls to clients after the sales is closed, no more lost client emails with invaluable feedback - we enable you to send a review request and track it so you know exactly when your clients submit reviews.  
			</p>
			<p>
				Once you've collected reviews, you can automatically publish updates to your social-media pages in order to drive traffic back to your site and capture leads. We offer analytics to help you understand which channels are most effective in generating traffic and leads.  
	 		</p>
		</div>
	</li>
	<li>
		<h2>
			4) How much does it cost?
		</h2>
		<div>
			<p>
				Nexly Reviews is free to use during our beta period.  Sign up now for free and start reaping the benefits of the word of mouth from your clients
			</p>
		</div>
	</li>
	<li>
		<h2>
			5) How do I add the toolbar to my site?
		</h2>
		<div>
			<p>
				Adding the Nexly Reviews toolbar or module is easy. Simply copy the two scripts we provide on the settings page and paste them into your site. This will work with a custom site or a templated site from something like Wordpress.
			</p>
		</div>
	</li>
	<li>
		<h2>
			6) What browsers does Nexly support?
		</h2>
		<div>
			<p>
				We support all versions of Firefox, Safari and Internet Explorer 7+
			</p>
		</div>
	</li>
</ul>