<% content_for :styles do %>
  	<%= stylesheet_link_tag "homepage" %>
<% end %>

<div id="storyboard-pane" class="homepage-pane">
	<div id="storyboard-banner">
		<h1 id="pre">Brand management and customer engagement...</h1>
		<h1 id="post">Just got a lot easier</h1>
	</div>	
	<div id="viewport">		
		<div id="panel-find" class="panel">
			<div class="text">
				<h2>Brand management and customer-engagement tools for small businesses</h2>
			</div>
			<div class="content"></div>
		</div>
		<div id="panel-connect" class="panel">
			<div class="text">
				<h2>Nexly Reviews</h2>
				<p>
					Our first tool helps you easily collect reviews from your clients.
				</p>
			</div>
			<div class="content"></div>
		</div>
		<div id="panel-learn" class="panel">
			<div class="text">
				<h2>Our Plans</h2>
				<p>
					We have big plans:
					<ul>
						<li>
							Resources - Publish white papers and articles
						</li>
						<li>
							Events - Easily
						</li>
						<li>
							News Updates
						</li>
						<li>
							FAQ and Contact Us Builder
						</li>
							Chat
						</li>
					</ul>
				</p>
			</div>
			<div class="content"></div>
		</div>
	</div>
	<div id="timeline-nav-outer">
		<div id="timeline-nav"></div>
	</div>
	<div id="signup-pane" class="homepage-pane">
		<div id="signup-pane-inner">
			<div id="signup-text">
				<h1>Getting Started Is Easy</h1>
				<p>
					Registration is quick and simple.  This is a new tool and we would love to hear your feedback. 
				</p>
			</div>
			<div id="svc-req-form-outer">
				Registration form
			</div>
		</div>
	</div>
	<div id="sign-up-tab">
		Let's Get Started
	</div>
</div>
<div id="details-pane" class="homepage-pane">
	<div id="overview">
		<h1>Digital Marketing Made Easier</h1>
		<p>
			Digital marketing, brand management and community building are key to the success of small, service-based 
			businesses, yet most SMBs struggle to do these things well.
		</p>
		<p>
			We provide simple, practical tools which simplify tasks like collecting reviews, sharing content, 
			publicizing events, and connecting with prospects and clients.
		</p>
		<p>
			Our solution can be easily integrated into your existing website and social-media pages, and it's modular 
			so you pay only for what you need. 
		</p>
	</div>
	<div id="highlights">
		<h1>A Few of the Highlights</h1>
		<ul class="clearfix">
			<li>
				<div class="header">
					<%= image_tag "homepage/blocks.png", :width => 35, :height => 35 %>
					<h3>A modular solution with flexible pricing</h3>
				</div>
				<div class="content clearfix">
					Pick and choose which tools you want
					Pay only for what you use
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/gears.png", :width => 35, :height => 35 %>
					<h3>Easy to set up, integrate and use</h3>
				</div>
				<div class="content">
					Quickly create a profile and publish new items
					Easily collect reviews from your clients publish them to your various sites
					Drop our tools directly into your business' website
				</div>
			</li>
			<li>
				<div class="header">
					<%= image_tag "homepage/map.png", :width => 35, :height => 35 %>						
					<h3>Get more exposure and user engagement</h3>
				</div>
				<div class="content">
					Collect client reviews
					Make your social media profiles more active and connect them back to your main site
					After registering your business your profile is searchable
				</div>
			</li>
		</ul>
	</div>
</div>
