<% content_for :styles do %>
  	<%= stylesheet_link_tag "homepage" %>
<% end %>

<div id="storyboard-pane" class="homepage-pane">
	<div id="storyboard-banner">
		<h1 id="pre">Quality, affordable custom software</h1>
		<h1 id="post">for the smaller enterprise</h1>
	</div>	
	<div id="viewport">		
		<div id="panel-find" class="panel">
			<div class="text">
				<h2>Our Services</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada nulla et nisi tincidunt 
					posuere pellentesque urna mollis. Nulla eget tortor vel felis ornare feugiat.
				</p>
			</div>
			<div class="content"></div>
		</div>
		<div id="panel-connect" class="panel">
			<div class="text">
				<h2>Our Market Focus</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada nulla et nisi tincidunt 
					posuere pellentesque urna mollis. Nulla eget tortor vel felis ornare feugiat.
				</p>
			</div>
			<div class="content"></div>
		</div>
		<div id="panel-learn" class="panel">
			<div class="text">
				<h2>Our Technology Bets</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada nulla et nisi tincidunt 
					posuere pellentesque urna mollis. Nulla eget tortor vel felis ornare feugiat.
				</p>
			</div>
			<div class="content"></div>
		</div>
	</div>
	<div id="timeline-nav-outer">
		<div id="timeline-nav"></div>
	</div>
	<div id="signup-pane" class="homepage-pane">
		<div id="signup-pane-inner">
			<div id="signup-text">
				<h1>Let's Get Started</h1>
				<p>
					Registration is 
				</p>
			</div>
			<div id="svc-req-form-outer">
				Registration form
			</div>
		</div>
	</div>
	<div id="sign-up-tab">
		Connect With Us
	</div>
</div>
<div id="expert-pane" class="homepage-pane">
	<div id="expert-text">
		<h1>Web plugins for small businesses</h1>
		<p>
			Digital marketing, brand management and community building are key to the success of small, service-based 
			businesses, yet most SMBs struggle to do these things well.
		</p>
		<p>
			We provide simple, practical tools which simplify tasks like collecting reviews, sharing content, 
			publicizing events, and connecting with prospects and clients.
		</p>
		<p>
			Our solution can be easily integrated into your existing website and social-media pages, and it's modular 
			so you pay only for what you need. 
		</p>
	</div>
	<div id="expert-rotator">
		<h1>Our Top Experts</h1>
		<ul>
			<li>
				<div class="avatar">
					<img src="/images/rails.png">						
				</div>
				<div class="expert-details-outer">
					<h2>Modular with Goldilocks pricing</h2>
					<div>This is a learning Rails group</div>						
				</div>
				<div class="clearfix"></div>
			</li>
			<li>
				<div class="avatar">
				</div>
				<div class="expert-details-outer">
					<h2>Easy to integrate and use</h2>
					<div>This is a finance group</div>						
				</div>
				<div class="clearfix"></div>
			</li>
			<li>
				<div class="avatar">
				</div>
				<div class="expert-details-outer">
					<h2>Greater exposure with less effort</h2>
					<div>This is a foreign languages group</div>						
				</div>
				<div class="clearfix"></div>
			</li>
			<li>
				<div class="avatar">
				</div>
				<div class="expert-details-outer">
					<h2>Latest and greatest technology</h2>
					<div>This is a technology learning and support group</div>						
				</div>
				<div class="clearfix"></div>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>
