<% if @business.review_meta.pending_review_count == 0 %>
	<span class="no-records">You have no reviews pending approval at this time</span>
<% else %>
	<ul id="biz-reviews" class="standard-list">
		<%= render :partial => 'reviews/review', :collection => @pending_reviews, :locals => { :show_admin => true, :truncate_review => false } %>
	</ul>
	<%= render :partial => 'shared/pager', :locals => { :items => @pending_reviews, :label => "pending review", :param_name => "reviews_pg" } %>
<% end %>