<li>
	752 incoming page views	
</li>
<li>
	49% click-through rate
</li>
<li>
	13% traffic improvement over last month
</li>

<!-- Measure incoming traffic to main site from links auto-posted to SM sites -->