<li id="news-post-<%= post.id %>" class="news-post">
	<% if show_admin %>
		<div class="btns-tab btns-tab-small review-btns">
			<%= render :partial => "news_posts/admin_buttons", :locals => { :post => post } %>
		</div>
	<% end %>
	<p>
		<%= truncate_post ? truncate(post.content, :length => 40) : post.content %>
	</p>
	<div class="footer">
		<span>
			Posted on <%= post.created_at.to_s(:feed_date_year)%>
		</span>
	</div>
</li>