<% content_for :styles do stylesheet_link_tag "app_subscriptions" end %>

<% content_for :page_header do "Manage Your Applications" end %>
<ul id="subscriptions" class="standard-tiles">
	<% @apps.each do |app| %>
		<li>
			<h3><%= app.title %></h3>
			<p>
				<%= app.details.truncate(50) %>
			</p>
		</li>
	<% end %>
</ul>
