<% content_for :styles do stylesheet_link_tag "app_subscriptions" end %>

<h1>Manage Your Applications</h1>
<ul id="subscriptions" class="standard-tiles">
	<% @apps.each do |app| %>
		<li>
			<h2><%= app.title %></h2>
			<p>
				<strong>Details: </strong><%= app.details %>
			</p>
			<h3>Settings</h3>
			<ul style="list-style-type:none;padding-left:10px;">
				<li>
					<%= check_box_tag :selected => true %>
					Publish to Facebook
				</li>
			</ul>
		</li>
	<% end %>
</ul>
