<% if @reviews.empty? %>
	<span class="no-records">There are no reviews at this time</span>
<% else %>
	<ul class="nexly-list">
		<%= render :partial => 'plugins/review', :collection => @reviews, :locals => { :show_admin => false, :truncate_review => false } %>
	</ul>
<% end %>