<%= stylesheet_link_tag "demo", "toolbar", "public/formtastic", "public/formtastic_changes", "public/colorbox", "reviews" %>
<%= javascript_include_tag "jquery.ui.stars.min.js", "toolbar" %>

<%= root %>
<script type='text/javascript'>
	$(function(){
		$('#nexly-toolbar').load('http://nexly-demo.heroku.com/plugins/toolbar?token=<%= api_token %>', function() {
			initToolbar();
		});
	});
</script>
<div id="nexly-toolbar"></div>