var scriptPaths = ["//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", "http://localhost:3000/assets/jquery_ujs.js", "http://localhost:3000/assets/toolbar.js", "http://localhost:3000/assets/public/jquery.colorbox-min.js", "http://localhost:3000/assets/jquery.ui.stars.min.js"];

scriptPaths.forEach(function(path) {
	var script = document.createElement("script");
	script.type="text/javascript";
	script.src = path;
	document.getElementsByTagName("head")[0].appendChild(script);
});
document.body.innerHTML = '<div id="nexly-toolbar" data-network="<%= network %>"></div>'