<h2 style="margin:10px 0 0 15px">Testimonials from Our Clients</h2>
<%= render :partial => 'plugins/content_page_placeholder', :locals => { :network => @business.api_token, :root => @root, :app_id => 1 } %>