<div id="toolbarbut"> <!-- hide button -->
	<span class="showbar"><a href="#">show bar</a></span>
</div>
<div id="toolbar"> <!-- toolbar container -->
	<div class="leftside"> <!-- all things in floating left side -->
		<ul id="social">
			<li>
				<a class="rss" href="#"></a><!-- icon -->
				<div id="tiprss" class="tip"><!-- tooltip -->
					<ul>
						<li><a href="#">580 Readers</a></li>
						<li><a href="#"><small>[Subscribe]</small></a></li>
					</ul>  
				</div>
			</li>
			<li>
				<a class="facebook" href="#"></a>
				<div id="tipfacebook" class="tip">
					<ul>
						<li><a href="#">Share Page</a></li>
						<li><a href="#">| Profile</a></li>
					</ul>  
				</div>  
			</li>
			<li>
				<a class="twitter" href="#"></a>
				<div id="tiptwitter" class="tip">
					<ul>
						<li><a href="#">ReTweet</a></li>
						<li><a href="#">| Profile</a></li>
					</ul>  
				</div>
			</li>
		</ul>
	</div>
	<div class="rightside"> <!-- all things in floating right side -->
		<span class="downarr"> <!-- hide button -->
			<a href="#"></a>
		</span>
		<span class="menu_title">
			<a class="menutit" href="#">quick menu</a> <!-- quick menu title -->
		</span>
		<div class="quickmenu">
			<ul> <!-- quick menu list -->
				<li><a href="#">Premium Member</a></li>
				<li><a href="#">Become Author</a></li>
				<li><a href="#">Submit News</a></li>
				<li><a href="#">Send Feedback</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul> 
		</div>
	</div>
</div>