<div id="toolbarbut"> <!-- hide button -->
	<span class="showbar"><a href="#">show bar</a></span>
</div>
<div id="toolbar"> <!-- toolbar container -->
	<div class="leftside"> <!-- all things in floating left side -->
		<ul id="social">
			<li>
				<a class="rss" href="#"></a><!-- icon -->
				<div id="tiprss" class="tip"><!-- tooltip -->
					<ul>
						<li><a href="#">580 Readers</a></li>
						<li><a href="#"><small>[Subscribe]</small></a></li>
					</ul>  
				</div>
			</li>
			<li>
				<a class="facebook" href="#"></a>
				<div id="tipfacebook" class="tip">
					<ul>
						<li><a href="#">Share Page</a></li>
						<li><a href="#">| Profile</a></li>
					</ul>  
				</div>  
			</li>
			<li>
				<a class="twitter" href="#"></a>
				<div id="tiptwitter" class="tip">
					<ul>
						<li><a href="#">ReTweet</a></li>
						<li><a href="#">| Profile</a></li>
					</ul>  
				</div>
			</li>
		</ul>
	</div>
	<div class="rightside"> <!-- all things in floating right side -->
		<span class="downarr"> <!-- hide button -->
			<a href="#"></a>
		</span>
		<span id="reviews-btns" class="btn_container">
			<%= link_to "Post a Review", new_business_review_path(@business), :id => 'new-review-btn' %>
			<%= link_to "Tell Someone", new_business_recommendations_path(@business), :id => 'new-rec-btn' %>
		</span>
		<span class="menu_title">
			<a class="menutit" href="#" data-toolbar-id="reviews-btns">
				Reviews (<%= @reviews.count %> reviews)
			</a> <!-- quick menu title -->
			<div class="quickmenu">
				<div class="quickmenu_inner">
					<ul> <!-- quick menu list -->
						<% if @reviews.nil? || @reviews.count == 0 %>
							<li><span class="no-records">There are no reviews at this time</span></li>
						<% else %>
							<%= render :partial => 'reviews/review', :collection => @reviews, :locals => { :show_admin => false, :truncate_review => false } %>
						<% end %>
					</ul>
				</div>
			</div>
		</span>
	</div>
</div>