<% content_for :styles do stylesheet_link_tag "settings" end %>
<% content_for :page_header do "Step 3 of 3 - Manage Settings" end %>

<div class="tab-content-outer">
	<%= render :partial => "settings/platform_tabs", :locals => { :show_suggestions => false } %>
</div>