<p>
	A new review has been submitted. Some details have been provided below and to view and manage your reviews simply 
	click the link below. 
</p>
<p>
	<h3>Sender Details</h3>
	<strong>Name:</strong> <span><%= @review.name %></span>
	<strong>Email:</strong> <span><%= @review.email %></span>
</p>
<p>
	Click the following link to see your reviews: <%= auto_link business_url(@review.business) %>
</p>