<p>
	We are using Nexly collecting client reviews for <%= @request.business.name %> and would love to hear from you.  It's fast and easy: just click the link below and share your thoughts.
</p>
<% if !@request.message.nil? %>
	<p>
		<%= @request.message %> 
	</p>
<% end %>
<p>
	Please click the following link to submit a review: <%= link_to new_business_review_url(@request.business, :token => @request.token).to_s, new_business_review_url(@request.business, :token => @request.token) %>
</p>
<p>
	<span>
		Thank you for your time and feedback,
	</span>
	<br />
	<span>
		<%= @sender.first_name %>
	</span>
</p>