<p>
	A new review has been submitted for <%= @review.business.name %>. See details below and click the link to manage your reviews. 
</p>
<p>
	<h3>Sender Details</h3>
	<strong>Name:</strong> <span><%= @review.name %></span>
	<br />
	<strong>Email:</strong> <span><%= @review.email %></span>
</p>
<p>
	Click the following link to manage your reviews: <%= link_to @redir_url, @redir_url %>
</p>