/*
0A2E58 >> Dark blue
92C1E9 >> Light blue
3595D4 >> Mid blue
abdb73 >> Green
2D2D2D 
ebebeb
*/

* {
    margin: 0;
    padding: 0;
	font-size:14px;
}
html, body {
	height:100%;
}
body {
    background:url('/assets/bg_gradient.png') repeat-x scroll 0 0 #bfcdde;  
    background:none repeat-x scroll 0 0 #ebebeb;
    color: #272722;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
	letter-spacing:.1em;
}
h1, h2, h3, h4 { padding-bottom:7px; font-family:Tahoma; color:#646464; }
h1 { font-size:1.6em; }
h2 { font-size:1.3em; }
h3 { font-size:1.1em; }
h4 { font-size:1em; }
a {
	cursor:pointer;
	color:#3595D4;
	text-decoration:none;
	background-color:transparent;
}
img {
	border: 0px;
}
P {
	margin-bottom:10px;
}
fieldset {
	border:0px;
}
fieldset label,
fieldset input,
fieldset textarea,
fieldset select {
	font-size:1.4em;
}
input[type='email'],
input[type='url'],
input[type='text'],
input[type='password'],
textarea {
	font-size:1.1em;
	padding:3px 0;
	border-radius:4px;
	border:1px solid #e1e1e3;
}
fieldset textarea {
}

.right-col {
	clear:right;
	display:block;
	float:right;
}
.left-col {
	clear:none;	
	display:block;
	float:left;
}

/*Clearfix*/
.clearfix {
	display:inline-block;
}
html[xmlns].clearfix {
	display:block;
}
* html .clearfix {
	height:1%;
	overflow:visible;;
}

/*Alerts*/
#error_explanation {
	border-radius:10px;
	background-color:#D8D5D5;
	padding:7px;
	margin-bottom:12px;
}
#error_explanation ul {
	margin-left:15px;
	padding-left:7px;
}
#flash-outer {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:1000;
}
.flash {
    clear:both;
	color:#666;
	font-size:1.2em;
	font-weight:bold;
    text-align:center;
	position:fixed;
	display:none;
	bottom:0px;
	right:100px;
	width:480px;
	margin:0 auto;
	padding:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:1px solid;
	border-bottom:0px;
    border-color:#3595D4;
	background-color: #3595D4;
	color:#fff;
}
.flash.error {
    border-color:#ffcdcd;
	background-color: #ffcdcd;
	color:#fff;
}
p.inline-errors {
	float:right;
	font-size:1.2em;
}

/*Common navigation*/
ul.navigation {
    list-style: none outside none;
}
ul.navigation li {
	float: left;
}
ul.navigation li a {
	font-family:Tahoma;
}
ul.navigation li a:hover {

}
ul.navigation li.active a {

}

/*Standard lists*/
.standard-tiles,
.standard-list {
	display:block;
	clear:both;
	list-style-type:none;
}
.standard-tiles > li {
	display:inline-block;
	float:left;
	margin-right:7px;
	border:1px #D8D5D5 solid;
	border-radius:5px;
	padding:7px;
}
.standard-list > li {
	padding:7px;
	display:block;
	position:relative;
	clear:left;
	margin-bottom:5px;
	border-bottom:1px dotted #a1a1a3;
}
.standard-list > li .footer {
	font-size:.9em;
	color:#A2A2A3;
	font-weight:bold;
}

/*Standard button groups*/
.action-btn-outer a,
.action-btn-outer input[type='button'],
.action-btn-outer input[type='submit'] {
	display:block;
	height:25px;
	line-height:25px;
	width:125px;
	margin:0 auto 7px auto;
	padding:3px 7px;
	text-align:center;
	background-color:#3D7A9A;
	color:#fff;
	border:0px;
	cursor:pointer;
	font-size:1em;
	border-radius:3px;
}
.btns-tab {
	position:absolute;
	padding:0 5px;
	background-color:#a1a1a3;
	top:0px;
	right:0px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	opacity:.95;
	z-index:3;
}
.btns-tab-small {
	top:0;
	right:0;
	display:none;
	background-color:#a1a1a3;
	border-radius:0;
	border-radius:7px;
}
.btns-tab * {
	float:left;
	display:inline-block;
}
.btns-tab a {
	padding:3px;
	background-position:center 7px;
	background-repeat:no-repeat;
	display:block;
	width:37px;
	height:37px;
}
.btns-tab-small a {
	padding:1px;
	background-position:center 3px;
	width:27px;
	height:27px;
}

/*Paging*/
.pager-outer > span {
	float:left;
	display:inline-block;
	font-weight:bold;
}
.pager-outer span {
	color:#646464;
}
.pager-controls {
	padding-left:7px;
}
.record-count {
	padding-left:12px;
}
div.pagination .previous_page,
div.pagination .next_page {
	display:inline-block;
	padding:0 3px;
}

/*Global profile styles*/
.content-panel {
	position:relative;
	margin-bottom:25px;
	clear:both;
	float:left;
}
.content-panel h3 {
	width:100%;
	padding:3px 0;
	margin-bottom:7px;
	color:#444;
}
.content-panel h3 a {
	margin-left:10px;
	float:right;
}
ul.profile-details {
	width:100%;
	padding:0;
	margin:0;
	margin-bottom:15px;
	list-style-type:none;
}
ul.profile-details li {
	padding:1px 0;
}
ul.profile-details li.header {
	padding-bottom:7px; 
	font-weight:bold; 
	color:#646464;
	font-size:1.1em;
}
ul.profile-item-list {
	padding:0;
	margin:0;
	display:inline-block;
}