/*Global layout*/
#backdrop {
	background-color:#0A2E58;
	position:relative;
	height:110px;
	-moz-box-shadow:0 2px 3px #a2a2a3;
	-webkit-box-shadow:0 2px 3px #a2a2a3;
	box-shadow:0 2px 3px #a2a2a3;
}
#header {
	position:relative;
	background-color:#0A2E58;
}
#header,
#hdr-controls {
	height:95px;
}
#logo {
	background: url('/assets/logo.png') no-repeat scroll left center transparent;
    position:absolute;
	bottom:-12px;
	left:7px;
    height:75px;
    width:226px;
	z-index:3;
}
#home-icon {
	position:absolute;
	top:20px;
	right:-25px;	
	height:24px;
    width:24px;
	display:none;
}
#hdr-controls {
	position:relative;
	float:right;
	width:750px;
	margin-right:7px;
}
#hdr-nav-outer {
	width:650px;
	position:absolute;
	bottom:0px;
	right:25px;
}
#search-outer {
	position:absolute;
	bottom:10px;
	right:0;
	height:33px;
	background-color:#fff;
	border-radius:3px;
	display:none;
}
#search-outer #q {
	float:left;
	display:block;
	vertical-align:middle;
	margin-right:3px;
	color:#444;
	padding:5px 3px;
	font-size:1.2em;
	border-width:0px;
}
#search-outer #search-btn {
	background:url('/assets/search-btn.png') no-repeat center center transparent;
	width:33px;
	height:33px;
	border:0;
	display:block;
	float:left;
	vertical-align:middle;
}
#container {
	position:relative;
	height:100%;
	width:960px;
	margin:-130px auto 0 auto;
}
#container-inner {
}
#main-content {
	position:relative;
	border:0px #D8D5D5 solid;
	background-color:#fff;
	-moz-box-shadow:0 4px 4px #666;
	-webkit-box-shadow:0 4px 4px #666;
	box-shadow:0 4px 4px #666;
	border-radius:10px;
	padding:15px 10px 25px 10px;
	width:940px;
	float:left;
	min-height:550px;
}
#footer-outer {
	width:100%;
	padding:10px 0;
	float:left;
	text-align:center;
}
#footer-inner {
	margin:0 auto;
	width:960px;
}

#hdr-controls {
	position:absolute;
	top:0;
	right:0;
	width:650px;
}


/*Specific nav implementations*/
#hdr-nav {
	position:absolute;
	bottom:7px;
	right:200px;
	right:0px;
	margin-top:13px;
}
#hdr-nav li {
	display:inline-block;
}
#hdr-nav li span,
#hdr-nav li a {
	color:#ddd;
    display:block;
    font-size:1.2em;
    padding:1px 7px 4px 7px;
    margin:4px 10px;
    text-decoration:none;
	border-bottom:3px solid transparent;
}
#hdr-nav li a:hover,
#hdr-nav li.active a {    
	border-bottom-color:#3595D4;
}
#ftr-nav {
	margin:13px 25px 0 25px;
	display:inline-block;
}
#ftr-nav li {
	display:inline-block;
	float:left;
	padding:0 12px;
}
#ftr-nav li.hdr {
	color:#666;
	font-size:1.2em;
	font-weight:bold;
	text-decoration:underline;
	list-style-type:none;
}
#ftr-nav li span,
#ftr-nav li a {
	color:#666;
    display: block;
    padding: 4px 0;
    text-decoration: none;
}
#ftr-nav li a:hover {
    color: #333;
}