// Place all the styles related to the app_subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#subscriptions li {
	width:45%;
	height:200px;
	cursor:pointer;
}

#subscriptions li.subscribed {
	background-color:#D8D5D5;
}