.left-col {
	width:200px;
}
.right-col {
	margin-left:7px;
	padding-left:10px;
	border-left:1px solid #CBC9C9;
	min-height:500px;
}
#avatar-outer img {
	display:block;
	margin:15px auto;
}
#biz-details {
	text-align:center;
	margin-bottom:20px;

	#edit-profile {
		display:block;
		margin-bottom:7px;
		width:100%;
		text-align:center;
		font-weight:bold;
	}
	#biz-name {
		font-size:1.4em;
		display:block;
		padding:3px 0;
	}
	
	.location {
		padding-bottom:3px;
	}
}
#features,
#platforms {
	margin-top:7px;

	li.header {
		background-image:url(/assets/gear.png);
	}
	
	& > li > ul > li {
		list-style-image:url(/assets/check.gif);
	}
}
.stats-panel {
	width:698px;
	border:1px #D8D5D5 solid;
	background-color:#ebebeb;
	border-radius:5px;
	padding:7px;

	ul.profile-details {
		list-style-type:none;
		list-style-image:none;
		float:left;

		li span.date-range {
			font-size:.8em;
		}
		
		ul {
		}

		ul > li {
			font-size:1em;
			list-style-type:disc;
			padding-bottom:5px;
		}
	}
	
	span.no-records {
		font-size:.9em;
		padding:0;
	}
}
.records-panel {
	width:715px;
}
#review-stats {
	width:45%;

	li.header {
		background-image:url(/assets/chart.png);
	}
}
#traffic-stats {
	width:54%;

	li.header {
		background-image:url(/assets/redo.png);
	}
}
.chart-outer {
	border:1px #D8D5D5 solid;
	border-radius:5px;
}
#rating-dist-chart {
	width:200px;
	margin:10px 0 0 20px;	
}
#traffic-chart {
	width:350px;
	margin:10px 0 0 20px;
}
