/*Site homepage*/
#main-content {
	width:960px;
	border-radius:10px;
	padding:0px !important;
	background-color:#fff !important;
	-moz-box-shadow:0 0 0;
	-webkit-box-shadow:0 0 0;
	box-shadow:0 0 0;
	border:0;
}
.homepage-pane {
	margin-bottom:20px;
	position:relative;
}
.homepage-pane h1 {
	color:#0A2E58;	
}
#storyboard-pane {
	border-radius:10px;
	position:relative;	
	border:1px #D8D5D5 solid;
	background-color:#ebebeb;
}
#storyboard-banner {
	position:absolute;
	z-index:2;
	top:130px;
	right:150px;
	background-color:#fff;
	-moz-box-shadow:0 4px 4px #666;
	-webkit-box-shadow:0 4px 4px #666;
	box-shadow:0 4px 4px #666;
	border-radius:10px;
	width:650px;
	text-align:center;
}
#storyboard-banner h1 {
	z-index:3;
	padding:10px 13px;
	font-size:1.9em;
	border-radius:10px;
}
#pre {
	background-color:#fff;
	color:#1f3e4e;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	display:inline-block;
}
#post {
	background-color:#3595D4;
	color:#fff;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	display:none;
}
#viewport,
#viewport div {
	z-index:1;
	height:275px;
	padding-bottom:45px;
	position:relative;
}
#viewport .panel,
#viewport .text,
#viewport .content {
}
#viewport .panel {
	display:none;
	width:960px;
	position:absolute;
	top:0px;
	left:0px;
}
#viewport .text {
	font-size:1.4em;
	line-height:1.4em;
	width:410px;
	border-radius:10px;
	padding:10px;
	margin:10px;
	height:auto;
	opacity:.7;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
}
#viewport .text h2 {

}
#viewport ul {
	margin:15px;
	padding-left:7px;
}
#viewport .content {
	width:510px;
	border-top-right-radius:10px;
	background:0 0 no-repeat transparent;
	float:left;
	clear:none;
	opacity:0;
	position:absolute;
	top:0px;
	right:0px;
}
#panel-intro h2 {
	margin-top:20px;
	line-height:1.5em;
	font-size:1.7em;
}
#panel-intro .content {
	background-image:url('/assets/intro-graphic.jpg');
}
#panel-demo .content {
}
#panel-demo .content iframe {
	margin:0 auto;
}
#play-demo {
	display:block;
	margin:50px auto 0 auto;
	width:200px;
	text-align:center;
}
#play-demo img {
	display:block;
	width:175px;
	height:175px;
	margin:0 auto;
	opacity:.5;
}
#panel-plans .content {
	background-image:url('/assets/comm-placeholder.png');
}
.panel-nav-btn {
	position:absolute;
	top:130px;
	z-index: 1000;
	width:50px;
	height:50px;
	display:none;
	cursor:pointer;
}
#panel-nav-prev {
	left:-40px;
	background:url('/assets/arrow-left.png') no-repeat center center;
}
#panel-nav-next {
	right:-40px;
	background:url('/assets/arrow-right.png') no-repeat center center;
}
#timeline-nav-outer {
	position:absolute;
	z-index:2;
	bottom:3px;
	left:0px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#timeline-nav {
	padding-left:15px;
	opacity:0;
	z-index:999;
	display:none;
}
#timeline-nav a {
	font-size:1.3em;
	color: #0A2E58;
	padding:3px 7px;
	margin:7px;
	text-decoration:none;
	display:inline-block;
}
#timeline-nav a {}

#timeline-nav a.tab-0 {}
#timeline-nav a.tab-1 {}
#timeline-nav a.tab-2 {}

#timeline-nav a.activeSlide { 
	border-bottom:3px solid #abdb73; 
}
#timeline-nav a:focus { }
		
#signup-pane {
	margin-top:0px;
	padding:0 20px;
}

/*
0A2E58 >> Dark blue
92C1E9 >> Light blue
3595D4 >> Mid blue
abdb73 >> Green
2D2D2D 
ebebeb
*/

#signup-pane-inner {
	height:250px;
	border-top:1px solid #a2a2a3;
	display:none;
	padding-top:20px;
}
#sign-up-tab {
	display:none;
	position:absolute;
	bottom:0px;
	right:0px;
	height:50px;
	line-height:50px;
	font-size:1.3em;
	font-weight:bold;
	text-transform:lowercase;
	color:#fff;
	padding:0 15px;
	cursor:pointer;
	background-color:#3595D4;
	z-index:1000;
	border-top-left-radius:10px;
	border-top-left-radius:10px;
	border-bottom-right-radius:10px;
}
#sign-up-tab.expanded {
	bottom:-35px;
}
#signup-text {
	width:300px;
	float:left;
	padding-left:15px;
}
#signup-text p {
	font-size:1.2em;
}
#svc-req-form-outer {
	float:left;
	padding-left:20px;
	width:570px;
}
#svc-req-form-outer label {
	color:#0A2E58; 
}

#details-pane > div {
	padding-top:7px;
	float:left;
	display:inline-block;
	float:left;
}
#details-pane h1 {
	color:#0A2E58;
}
#details-pane ul {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
}
#details-pane ul li {
	display:block;
	cursor:pointer;
	list-style-type:none;
	padding:7px;
	border-radius:7px;
	border:1px #D8D5D5 solid;
	margin-bottom:7px;
	float:left;
	width:100%;
}
#details-pane ul li:hover {
	background-color:#ebebeb;
}
#details-pane ul li div.header {
	
}
#details-pane ul li div.header * {
	vertical-align:middle;
	display:inline-block;
}
#details-pane ul li h3 {
	color:#646464;
	padding:7px;
	margin:0;
}
#details-pane ul li div.content {
	padding:10px 0 7px 45px;
	float:left;
	clear:both;
	display:none;
}
#overview {
	width:455px;
	padding:15px 15px 0 0;
	text-align:right;
}
#highlights {
	width:455px;
	padding:15px 0 0 15px;
	border-left:1px #a1a1a3 solid;
}
