/*Site homepage*/
body {
	background-color:#fff !important;
}
#backdrop {
	background-color:#0A2E58;
}
#main-content {
	width:960px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:0px !important;
	background-color:#fff !important;
	-moz-box-shadow:0 0 0;
	-webkit-box-shadow:0 0 0;
	box-shadow:0 0 0;
	border:0;
}
.homepage-pane {
	position:relative;
}
.homepage-pane h1 {
	color:#0A2E58;	
}
#storyboard-pane {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	position:relative;	
	border:1px #D8D5D5 solid;
	background-color:#ebebeb;
}
#storyboard-banner {
	position:absolute;
	z-index:2;
	top:130px;
	right:150px;
	background-color:#fff;
	-moz-box-shadow:0 4px 4px #666;
	-webkit-box-shadow:0 4px 4px #666;
	box-shadow:0 4px 4px #666;
	border-radius:10px;
	width:690px;
	text-align:center;
}
#storyboard-banner h1 {
	z-index:3;
	padding:10px 13px;
	font-size:1.9em;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
#pre {
	background-color:#fff;
	color:#1f3e4e;
	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-moz-border-bottom-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	display:inline-block;
}
#post {
	background-color:#3595D4;
	color:#fff;
	-moz-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	display:none;
}
#viewport,
#viewport div {
	z-index:1;
	height:340px;
	position:relative;
}
#viewport .panel,
#viewport .text,
#viewport .content {
}
#viewport .panel {
	display:none;
	width:960px;
	position:absolute;
	top:0px;
	left:0px;
}
#viewport .text {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:10px;
	margin:10px;
	height:auto;
	opacity:.7;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
}
#viewport .text h2 {
	font-size:1.7em;
	line-height:1.5em;
}
#viewport .text p,
#viewport .text ul li {
	font-size:1.2em;
	line-height:1.3em;
}
#viewport .text ul {
	margin:15px;
	padding-left:7px;
}
#viewport .content {
	-moz-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	background:0 0 no-repeat transparent;
	float:left;
	clear:none;
	opacity:0;
	position:absolute;
	top:0px;
	right:0px;
}
#panel-intro .text {
	width:410px;
	vertical-align:middle;
}
#panel-intro .text h2 {
	margin-top:60px;
	line-height:1.2em;
	font-size:2.4em;
}
#panel-intro .content {
	width:510px;
	height:340px;
	-moz-border-bottom-right-radius:13px;
	-webkit-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
	background:url('/assets/homepage/intro-graphic.jpg') 0 -30px no-repeat transparent;
}
#play-demo {
	display:block;
	margin:50px auto 0 auto;
	width:250px;
	text-align:center;
}
#panel-demo .text {
	width:620px;
}
#panel-demo .content {
	width:350px;
}
#play-demo img {
	display:block;
	width:175px;
	height:175px;
	margin:0 auto;
	opacity:.5;
}
#panel-plans .text {
	width:530px;
}
#panel-plans .content {
	width:380px;
	height:380px;
	background:url('/assets/homepage/it-guy.jpg') 0 0 no-repeat transparent;
}
.panel-nav-btn {
	position:absolute;
	z-index: 1000;
	opacity:.8;
	display:none;
	cursor:pointer;
	background-position:center center;
	background-repeat:no-repeat;
}
#panel-play-pause {
	width:27px;
	height:27px;
	bottom:0;
	left:0;
	background:url('/assets/homepage/pause.png') center center no-repeat;
}
#panel-play-pause.paused {
	background-image:url('/assets/homepage/play.png');
}
#panel-nav-prev,
#panel-nav-next {
	width:48px;
	height:48px;
	top:140px;
}
#panel-nav-prev {
	left:-35px;
	background:url('/assets/homepage/prev.png');
}
#panel-nav-next {
	right:-35px;
	background:url('/assets/homepage/next.png');
}
#timeline-nav-outer {
	position:absolute;
	z-index:2;
	bottom:3px;
	left:0px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-bottom-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}
#timeline-nav {
	padding-left:15px;
	opacity:0;
	z-index:999;
	display:none;
}
#timeline-nav a {
	font-size:1.3em;
	color: #0A2E58;
	padding:3px 7px;
	margin:7px;
	text-decoration:none;
	display:inline-block;
}
#timeline-nav a {}

#timeline-nav a.tab-0 {}
#timeline-nav a.tab-1 {}
#timeline-nav a.tab-2 {}

#timeline-nav a.activeSlide { 
	border-bottom:3px solid #abdb73; 
}
#timeline-nav a:focus { }
		
#signup-pane {
	margin-top:0px;
	padding:0 20px;
}

/*
0A2E58 >> Dark blue
92C1E9 >> Light blue
3595D4 >> Mid blue
abdb73 >> Green
2D2D2D 
ebebeb
*/

#signup-pane-inner {
	height:250px;
	border-top:1px solid #a2a2a3;
	display:none;
	padding-top:30px;
}
#sign-up-tab {
	position:absolute;
	bottom:0px;
	right:0px;
	height:45px;
	line-height:45px;
	font-size:1.3em;
	font-weight:bold;
	text-transform:lowercase;
	color:#fff;
	padding:0 15px;
	cursor:pointer;
	background-color:#3595D4; /* #F58011 */
	z-index:1000;	
	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	display:none;
}
#signup-text {
	width:540px;
	float:left;
}
#signup-text p {
	font-size:1.2em;
}
#svc-req-form-outer {
	float:left;
	padding-left:30px;
	width:330px;
}
#details-pane > div {
	padding-top:7px;
	margin-top:20px;
	display:inline-block;
	float:left;
}
#details-pane h1 {
	color:#0A2E58;
}
#details-pane ul {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
}
#details-pane ul li {
	display:block;
	cursor:pointer;
	list-style-type:none;
	padding:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:17px;
	border-radius:7px;
	border:1px #D8D5D5 solid;
	margin-bottom:7px;
	float:left;
	width:100%;
}
#details-pane ul li:hover {
	background-color:#ebebeb;
}
#details-pane ul li div.header {
	
}
#details-pane ul li div.header * {
	vertical-align:middle;
	display:inline-block;
}
#details-pane ul li h3 {
	color:#646464;
	padding:7px;
	margin:0;
}
#details-pane ul li div.content {
	padding:10px 0 7px 45px;
	float:left;
	clear:both;
	display:none;
}
#overview {
	width:455px;
	padding:15px 15px 0 0;
	text-align:right;
}
#highlights {
	width:455px;
	padding:15px 0 15px 15px;
	border-left:1px #a1a1a3 solid;
}
