//Admin button icons
.send-email-link { background-image:url('/assets/tasks/message.png'); background-position:center 6px !important; }
.archive-inquiry-link { background-image:url('/assets/tasks/archive.png'); }

#inquiries-view {
	display:inline-block;
	float:right;
	font-size:13px;
	margin-right:525px;
}