//Admin button icons
.archive-inquiry-link { background-image:url('/assets/tasks/cross-red-small.png'); }

#inquiries-view {
	display:inline-block;
	float:right;
	font-size:13px;
	margin-right:525px;
}