#profile-details-pane {
	width:200px;
}
#avatar-outer img {
	display:block;
	margin:15px auto;
}
#biz-details {
	a#edit-profile {
		display:block;
		margin-bottom:7px;
		width:100%;
		text-align:center;
		font-weight:bold;
	}
	a#biz-name {
		font-size:1.4em;
		display:block;
		padding:3px 0;
	}
	
	h3.location {
		padding-bottom:3px;
	}
}
#dashboard-content-pane {
	margin-left:7px;
	padding-left:10px;
	border-left:1px solid #CBC9C9;
	min-height:500px;
}
#dashboard-content-pane,
.content-panel {
	width:715px;
}
#apps-settings,
#biz-vitals {
	ul.profile-details {
		border:1px #D8D5D5 solid;
		background-color:#ebebeb;
		border-radius:5px;
		width:46%;
		padding:7px;
		margin:0 5px;
		float:left;
		list-style-type:none;
		list-style-image:none;
		height:115px;
		
		li span.date-range {
			font-size:.8em;
		}
		
		ul > li {
			font-size:.9em;
			list-style-type:disc;
		}
	}
	
	span.no-records {
		font-size:.9em;
		padding:0;
	}
}
#apps-settings {
	margin-top:15px;
}
ul#apps-settings li.header {
	background-image:url(/assets/gear.png);
}
ul#apps-settings ul > li {
	list-style-image:url(/assets/check.gif);
}
ul#stats-tab li.header {
	background-image:url(/assets/chart.png);
}
ul#social-tab li.header {
	background-image:url(/assets/redo.png);
}
