.nexly-canvass {
	background: #F7F7F7;
	border-top: 1px solid #a4a4a4;
	border-left: 1px solid #a4a4a4; 
	border-right: 1px solid #a4a4a4;
	height:250px;
	width:400px;
	/* CSS3 */
	-moz-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
	-khtml-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
	-webkit-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
	-moz-border-top-left-radius:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
	-moz-border-top-right-radius:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	/* CSS3 end */
	overflow:hidden;

	div {
	}
}

#nexly-canvas {
	background: #F7F7F7;
	border-top: 1px solid #a4a4a4;
	border-left: 1px solid #a4a4a4; 
	border-right: 1px solid #a4a4a4;
	height:250px;
	width:400px;
	display:none;
	position:fixed;
	overflow:hidden;
	bottom:37px;
	z-index:1002;
	right:250px;
	padding:7px 7px 0 7px;

	/* CSS3 */
	-moz-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
	-khtml-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
	-webkit-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
	-moz-border-top-left-radius:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
	-moz-border-top-right-radius:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	/* CSS3 end */
	overflow:hidden;

	iframe {
		height:243px;
		width:100%;
		border:0;
	}
}
#new-review-outer { }