ul.nexly-list {
	padding:0 10px;
}

ul.nexly-list li {
	border-bottom: 1px solid #989898;    
	padding: 5px 7px;
	list-style-type:none;
}

ul.nexly-list li.biz-review {
	position:relative;
	list-style-type:none;
	
	.rating-icon {
		margin-bottom:5px;
	 	
		* {
			height:16px;
			line-height:16px;
			display:inline-block;
			vertical-align:middle;
		}
	}
	.rating-star {
		width:16px;
		background-image:url(/assets/rating/jquery.ui.stars.gif);
		background-repeat:no-repeat;
	}
	.selected {
		background-position:0 -48px;
	}
	.deselected {
		background-position:0 -32px;
	}
	.disputed {
		line-height:1.7em;
		font-weight:bold;
	}
	.hidden {
		display:none;
	}
	.footer {
		font-size:.9em;
		margin-top:10px;
		
		* {
			vertical-align:middle;
		}
	}
	
}