// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#biz-reviews li {
	padding:7px;
	position:relative;
}
#biz-reviews li .rating-icon {
	margin-bottom:5px;
}
#biz-reviews li .disputed {
	line-height:1.7em;
	font-weight:bold;
}
.review-response-link { background-image:url('/assets/tasks/reply.png'); }
.dispute-review-link { background-image:url('/assets/tasks/flag.png'); }
.feature-review-link { background-image:url('/assets/tasks/star-small.png'); }
