li.biz-review {
	position:relative;
	
	.rating-icon {
		margin-bottom:5px;
	 	
		* {
			height:16px;
			line-height:16px;
			display:inline-block;
			vertical-align:middle;
		}
	}
	.rating-star {
		width:16px;
		background-image:url(/assets/rating/jquery.ui.stars.gif);
		background-repeat:no-repeat;
	}
	.selected {
		background-position:0 -48px;
	}
	.deselected {
		background-position:0 -32px;
	}
	.disputed {
		line-height:1.7em;
		font-weight:bold;
	}
	.hidden {
		display:none;
	}
}

span.submitted {
	display:block;
	font-size:1.2em;
	font-weight:bold;
	margin-top:10px;
}

#new-review-outer {
	width:600px;
	height:350px;
}
#new-rec-outer {
	width:550px;
	height:300px;
}
#manage-reqs-link { background-image:url('/assets/tasks/mail.png'); }

.review-response-link { background-image:url('/assets/tasks/reply.png'); }
.dispute-review-link { background-image:url('/assets/tasks/flag.png'); }
.reject-review-link { background-image:url('/assets/tasks/cross-red-small.png'); }
.approve-review-link { background-image:url('/assets/tasks/check-green-small.png'); }

#rating-outer {
	width:100%;

	label {
		width:275px;
		display:inline-block;
		margin-top:3px;
	}
}