li.review-request {
	padding:7px;
	position:relative;
}
li.review-request .rating-icon {
	margin-bottom:5px;
}
li.review-request .disputed {
	line-height:1.7em;
	font-weight:bold;
}

#new-req-link { background-image:url('/assets/tasks/add.png'); }

.delete-request-link { background-image:url('/assets/tasks/cross-small.png'); }
.dispute-review-link { background-image:url('/assets/tasks/flag.png'); }
.feature-review-link { background-image:url('/assets/tasks/star-small.png'); }