$tb_bg_color:#D8D5D5;
$tb_text_color:#646464;
$canvas_bg_color:#F7F7F7;

/*-- Bottom Toolbar --*/
#toolbar, #toolbarbut {
	position: fixed; /* set fixed position for the bar */
	bottom: 0px;
	right: 0px;
	z-index: 9999; /* keep the bar on top  */
	background:$tb_bg_color;

	/* CSS3 */
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius:5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius:5px;

	-moz-box-shadow: rgba(255, 255, 255, 0.246) 1px 1px 1px inset, rgba(0, 0, 0, 0.136) .5px -1px 2px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.246) 1px 1px 1px inset, rgba(0, 0, 0, 0.136) .5px -1px 2px;
	box-shadow: rgba(255, 255, 255, 0.246) 1px 1px 1px inset, rgba(0, 0, 0, 0.136) .5px -1px 2px;

	border-top: 1px solid #fff;
	border-left: 1px solid #fff; 
	border-right: 1px solid #fff;  
}
#toolbarbut { /* div for the 'hide status' */
	height:25px;
	padding:3px 15px;
	margin-right:3%;
	text-align:center;
	display:block;

	span a { /* show button */
		font-size:13px;
		display:block;
		height: 25px;
		line-height: 25px;
		color:$tb_text_color;
	}
}
#toolbar {
	width:70%;
	height:36px;
	min-width: 200px; /* to limit the width when an excessive window resize */
	margin: 0px auto; /* centered toolbar */
	left: 0px;
  	display: none;

	.leftside {
		float: left;
		padding-left:5px;

		/*-- Left Side --*/
		& > ul > li {
		  	display: inline;
			position:relative;

			& > a {
				display: inline-block;
				min-width: 40px;
				height: 35px;        
				background-position:2px center;
				border-right:1px #a2a2a3 solid;
			}
			& > a:hover {
			 	background-position: 3px 3px; /* simple css hover effect */
			}
		}
	}

	a.rss {
		background: url(/assets/social/rss.png) no-repeat;
	}
	a.facebook {
		background: url(/assets/social/facebook.png) no-repeat;
	}
	a.twitter {
		background: url(/assets/social/twitter-2.png) no-repeat;
	}

	a.linkedin {
		background: url(/assets/social/linkedin.png) no-repeat;
	}

	a.delicious {
		background: url(/assets/social/delicious.png) no-repeat;
	}

	a.digg {
		background: url(/assets/social/digg.png) no-repeat;
	}

	a.stumble {
		background: url(/assets/social/stumble.png) no-repeat;
	}

	.tip {
		position: absolute; /* important */
		top: -95px;
		left:-30px;
		width: 250px;
		height: 78px;
		background: url(/assets/toolbar/tip.png) no-repeat;
		float: left;
		display: none;

		a {
			border-left:1px #a2a2a3 solid;
			padding-left:7px;
		}

		& > ul > li:first-child > a {
			border-left:0;
		}

		ul {
		  padding: 22px 0 0 25px;

			li {
			  	display: inline;
			  	padding-left: 3px;

				a {
				  font-size: 14px;
				}
			}
		}
	}

	/*-- Right Side --*/
	.rightside {
	  float: right;
	}

	span.downarr { /* hide button */ 
	  	float: right;
	  	border-left: 1px solid #a4a4a4;

		a {
		  display: block;
		  width: 36px;
		  height: 26px;
		  padding: 25px 0 0 10px;
		  background: url(/assets/toolbar/downarrow.png) no-repeat 5px 7px;
		}
	}
	span.btn-container {
		position:relative;
		display:none;
	}
	span.menu_title {
	  	border-left: 1px solid #a4a4a4;
	  	padding:1px 10px;
	  	position:relative;
		display:inline-block;

		& > a {
		  	font-size: 13px;
		  	line-height: 34px;
		  	color:$tb_text_color;
			padding:7px 0;
		}
	}

	.quickmenu {
		position: absolute; /* important */
		top: -257px;
		right: -5px;
		width: 550px;
		height: 250px;
		background: #F7F7F7;
		border-top: 1px solid #a4a4a4;
		border-left: 1px solid #a4a4a4; 
		border-right: 1px solid #a4a4a4;
		/* CSS3 */
		-moz-box-shadow: rgba(255, 255, 255, 0.246094) 1px 1px 1px inset, rgba(0, 0, 0, 0.496094) 0px 1px 2px;
		-webkit-box-shadow: rgba(255, 255, 255, 0.246094) 1px 1px 1px inset, rgba(0, 0, 0, 0.496094) 0px 1px 2px;
		box-shadow: rgba(255, 255, 255, 0.246094) 1px 1px 1px inset, rgba(0, 0, 0, 0.496094) 0px 1px 2px;

		display: none; /* important */
		overflow:auto;
		padding:5px 10px 0 10px;
	}
}
#nexly-canvas {
	background:$canvas_bg_color;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff; 
	border-right: 1px solid #fff;
	height:250px;
	width:650px;
	display:none;
	position:fixed;
	overflow:hidden;
	bottom:37px;
	z-index:10000;
	right:250px;
	padding:7px 7px 0 7px;

	/* CSS3 */
	-moz-box-shadow: rgba(255, 255, 255, 0.246094) 1px 1px 1px inset, rgba(0, 0, 0, 0.496094) 0px 0px 2px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.246094) 1px 1px 1px inset, rgba(0, 0, 0, 0.496094) 0px 0px 2px;
	box-shadow: rgba(255, 255, 255, 0.246094) 1px 1px 1px inset, rgba(0, 0, 0, 0.496094) 0px 0px 2px;

	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius:5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius:5px;
	
	/* CSS3 end */
	overflow:hidden;

	iframe {
		height:243px;
		width:100%;
		border:0;
	}
}