<%= stylesheet_link_tag "global", "plugin_global", "public/formtastic", "public/formtastic_changes","jquery.ui.stars.min.css", "reviews", "recommendations" %>
<%= javascript_include_tag "jquery.min.js", "jquery-ui.min.js", "jquery_ujs.js", "jquery.ui.stars.min.js" %>

<div id="nexly-canvas-inner">
	<%= yield %>
</div>