<%= stylesheet_link_tag "plugin_global", "public/formtastic", "public/formtastic_changes","jquery.ui.stars.min.css" %>
<%= javascript_include_tag "jquery.min.js", "jquery-ui.min.js", "jquery_ujs.js", "jquery.ui.stars.min.js", "jquery.validate.min.js", "public/jquery.form.js", "public/jquery.blockUI.js" %>

<div id="nexly-canvas-inner">
	<%= yield %>
</div>