<%= stylesheet_link_tag "global", "plugin_global", "plugin_canvas", "reviews", "public/formtastic", "public/formtastic_changes","jquery.ui.stars.min.css" %>
<%= javascript_include_tag "jquery.min.js", "jquery-ui.min.js", "jquery_ujs.js", "reviews", "jquery.ui.stars.min.js" %>

<div class="nexly-canvas">
	<div>
	<%= yield %>
	</div>
</div>